/**
 * The available censorship styles
 */

.blurred {
  filter: blur(6px);
}

.blurred:hover {
  filter: none;
}

.invisible-ink {
  color: rgba(0, 0, 0, 0);
}

.invisible-ink:hover {
  color: inherit;
}

.redacted {
  position: relative;
  white-space: pre;
}

.redacted:after {
  background: black;
  border-radius: 0.1em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  content: " ";
  width: 100%;
  height: 1.2em;
  left: 0;
  position: absolute;
  transform: skewY(-5deg) rotate(5deg);
}
